*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    width:100vw;
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
 }
.banner{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
.banner-title{
    width: 500px;
}
.banner-title h1{
    font-size: 45px;
    font-weight: 700;
    color:#272727;
}
.descrip{
    font-size: 18px;
    color:#27272799;
    margin-top: 32px;
    margin-bottom:32px;
    line-height: 32px;
}
.btn{
    padding: 15px 25px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color:#Fff;
}
.banner-img{
    width:500px;
    padding: 50px 0 0 0;
  }
  

/*------------main section------------*/

.feature{
    margin-top: 80px;
}
.feature-bar{
    text-align: center;
}
.title{
    font-size: 30px;
    margin-bottom: 15px;
}

.features{
    width: 80%;
    display: flex; 
    justify-content: center;
    gap: 30px;
    margin:10px auto;
}

.features-item-one{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 20px 20px 0 20px;
    width: 340px;
    height: 450px;
}

.features-item-tow{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-left: 40px;
    width: 340px;
    height: 470px;
}

.features-item-three{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15); 
    padding: 20px 25px 0 25px;
    width: 340px;
    height: 450px;
}

.ancor{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    gap:40px;
}
.ancor a{
    color:#272727;
    font-size: 20px;
}

.rectungul-box{
    margin-top: 80px;
}
.rectungule{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 80%;
    margin:10px auto;
    
}
.sub-box{
    display: flex;
    justify-content: space-between;
    padding: 60px 120px 45px;
}
.sub-box div{
    text-align: center;
}
.para{
    margin-top: 20px;
    color:#272727;
}
.hot{
    margin-top: 80px;
    background: rgba(229, 84, 115, 0.10);
}
.hot-deal{
    display: flex;
    justify-content: space-around;
    padding: 10px 200px;
    align-items: center;
}
.right-bar{
    width: 450px;

}
.praimery{
  color:#E55473;
}
.insta{
 margin-top: 80px;
}
.instagram{
 text-align: center;
}
.img-box{
    width: 77%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 200px;
    gap:18px;
    margin: 0 auto;
}
.img-box img{
    width: 300px;
}

/*------------------contact----------------------*/
.contact{
    margin-top: 80px;
    background: rgba(229, 84, 115, 0.10);
}

.text-contact{
    width: 80%;
    margin: 0 auto;
    padding: 60px;
}
.contact-dics{
    background: rgba(229, 84, 115, 0.10);
    padding: 25px 10px;
    margin-bottom: 25px;
}
.contact-title{
   padding-left: 20px;
   font-size: 25px;
   
}
form{
    margin-top:25px;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 800px;
}

.input-dev p{
    font-size: 20px;
    font-weight: 500px;
}
input{
  background-color: #fffafa;
  padding: 15px 100px;
  font-size: 20px;
  color:#272727;
  border: none;
  border-radius: 5px;
}
.input-dev{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.submit{
    width: 150px;
    height: 50px;
}
.submit-button{
    display: flex;
    justify-content:flex-end;
}


.subscribe{
    margin-top: 80px;
}
.subs{
    width: 77%;
    height: 350px;
    background-image: url('./Flower Asset/Rectangle 9.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 20px auto;
}
.latest{
    padding:80px 20px 20px;
    text-align: center;
}
.input-group{
  display: flex;
  gap: 5px;
  justify-content: center;
}
.input-group input{
  background-color: #fffafa;
  padding: 15px 100px;
  font-size: 20px;
  color:#272727;
  border: none;
  border-radius: 5px;
}

/*------------footer-------------*/

footer{
    margin-top: 80px;
    background-color: #111010;
    color:#fff;
    padding: 60px 10px;
}
.foot-desc{
    color:#fff;
}
.foot{
    text-align: center;
}



